
html,
body {
  margin: 0;
  padding: 0;
  overflow-y: auto; /* keep vertical scroll enabled */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

h3 {
  font-weight: bold;
  color: #333;
}
ul {
  list-style: none;
  padding-left: 10px;
  margin: 0 0 20px;
}
li {
  margin: 8px 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}
li:hover {
  background-color: #04aacf;
}
