.swing-scrolling-image {
    visibility: hidden;
    overflow: hidden;
  }

  .swing-scrolling-image.showing {
    visibility: visible;
  }

  .swing-scrolling-image .slider-container {
    animation: sliding calc(var(--est-speed, 10) * 1s * 50 / var(--speed))
      linear infinite;
    max-width: unset !important;
    display: flex;
    gap: var(--gap, 0);
  }

  .swing-scrolling-image:hover .slider-container {
    animation-play-state: var(--poh, running);
  }

  .swing-scrolling-image .slider-item.image-aspect-ratio img {
    width: auto !important;
  }

  @keyframes sliding {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-1 * var(--direction, 1) * 100% / var(--total, 2))
      );
    }
  }

  @-webkit-keyframes sliding {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-1 * var(--direction, 1) * 100% / var(--total, 2))
      );
    }
  }

  @-moz-keyframes sliding {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-1 * var(--direction, 1) * 100% / var(--total, 2))
      );
    }
  }

  @-o-keyframes sliding {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-1 * var(--direction, 1) * 100% / var(--total, 2))
      );
    }
  }