@import "tailwindcss";
@import "tailwindcss/utilities";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }
}