@import 'tailwindcss';

@media (max-width: 856px) {
  .custom-mobile {
    display: flex !important;
  }

  .custom-desktop {
    display: none !important;
  }
}

@theme {
  --font-body: 'Poppins', sans-serif;

  /* Base colors */
  --color-primary: #1c79af;
  --color-primary-hover: #135e89;

  --color-text: #333333;
  --color-text-dark: #fdfdfd;

  /* Light theme */
  --light-bg: #f5f5f5;
  --light-navbar-bg: #ffffff;
  --light-dropdown-bg: #ffffff;
  --light-hover-bg: #e5e7eb;
  --light-nav-default: #444444;
  --light-nav-hover: #1c79af;
  --light-toggle-hover: #09151c;

  /* Dark theme */
  --dark-bg: #09151c;
  --dark-navbar-bg: #02111a;
  --dark-dropdown-bg: #02111a;
  --dark-hover-bg: #09151c;
  --dark-nav-default: #d5d5d5;
  --dark-nav-hover: #1c79af;
  --dark-toggle-hover: #ffffff;

  /* Shadow */
  --shadow-default: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
